<h2>Mis Categorias</h2>
<div>
    <label for="nueva-categorias">Nombre de Categoria: </label>
    <input id="nueva-categorias" #categoriaNombre />
    <button type="button" class="aniadir" (click)="aniadir(categoriaNombre.value); categoriaNombre.value=''">
        Agregar nueva categoria
    </button>
</div>
<div *ngFor="let categorias of categorias">
    <hr>
    <div class="container">
        <h4>Nombre de la categoria: {{categorias.nombre | uppercase}}</h4>
        <div>{{categorias.descripcion}}</div>
        <button type="button" class="borrar" title="borrar categorias" (click)="borrar(categorias)">Borrar categoria</button>
    </div>
</div>
